#mdLogoDefaultPage {
    position: absolute;
    right: 10px;
    top: 5px;
    border-radius: 15px;
    z-index: 50;
    opacity: 0.9;
}

.DefaultMainPicFrame {
    position: relative;
    /*background-color:blue;*/
    top: 260px;
    left: 40px;
    width: 400px;
    height: 711px;
    z-index: 50;
}



#defaultMainPic {
    position:absolute;
    z-index: 55;
    opacity: 0.8;
    transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    border-radius: 25px;
    top:-13px;
    left:-10px;
    box-shadow: 3px 3px 10px #888888;
}

#defaultSidePic{
        position:absolute;
    z-index: 50;
    opacity: 0.4;
    transform:rotate(3deg);
    -webkit-transform:rotate(3deg);
    border-radius: 25px;
    top:280px;
    left:130px;
    box-shadow: 3px 3px 10px #888888;
}

#defaultIntroduction {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 300px;
    height: 200px;
    z-index: 50;
    transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out;
    -moz-transition: all 1000ms ease-in-out;
    -o-transition: all 1000ms ease-in-out;
    -ms-transition: all 1000ms ease-in-out;
}

    #defaultIntroduction:hover {
        background-color: white; /*#FFE6F0;*/
        opacity: 0.95;
        transition: all 1000ms ease-in-out;
        -webkit-transition: all 1000ms ease-in-out;
        -moz-transition: all 1000ms ease-in-out;
        -o-transition: all 1000ms ease-in-out;
        -ms-transition: all 1000ms ease-in-out;
    }

#defaultIntroductionP {
    position: absolute;
    border-radius: 15px;
    top: 40px;
    left: 10px;
    width: 300px;
    height: 200px;
    opacity: 0.2;
    z-index: 60;
    margin: 5px;
    background-color: #FFE6F0; /*#FFE6F0; blue;*/
    transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out;
    -moz-transition: all 1000ms ease-in-out;
    -o-transition: all 1000ms ease-in-out;
    -ms-transition: all 1000ms ease-in-out;
}

    #defaultIntroductionP:hover {
        opacity: 0.95;
        transition: all 1000ms ease-in-out;
        -webkit-transition: all 1000ms ease-in-out;
        -moz-transition: all 1000ms ease-in-out;
        -o-transition: all 1000ms ease-in-out;
        -ms-transition: all 1000ms ease-in-out;
        box-shadow: 3px 3px 10px #888888;
    }

    #defaultIntroductionP p {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 290px;
        height: 190px;
        opacity: 0.99;
        z-index: 70;
        margin: 0px;
        padding: 5px;
        text-align: justify;
        line-height: 23px;
        font-family: dancing_script_otregular;
        font-weight: 400;
        font-size: 22px;
        color: #8f476b;   /*AE69B2*/
    }

        #defaultIntroductionP p:hover {
            opacity: 0.95;
            transition: all 1000ms ease-in-out;
            -webkit-transition: all 1000ms ease-in-out;
            -moz-transition: all 1000ms ease-in-out;
            -o-transition: all 1000ms ease-in-out;
            -ms-transition: all 1000ms ease-in-out;
        }

#defaultProductSlide {
    position: absolute;
    top: 220px;
    left: 520px;
    background-color: #FFE6F0; /*#FFE6F0; blue;   */
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 400px;
}

.defaultProdSlide {
    margin: 0px;
    padding: 0px;
}

.dPSTop {
    position: absolute;
    left: 138px;
    bottom: 10px;
    width: 124px;
    height: 220px;
    z-index: 100;
    border-radius: 25px;
    opacity: 0.95;
    box-shadow: 3px 3px 10px #888888;
    transition: all 4000ms ease-in-out;
    -webkit-transition: all 4000ms ease-in-out;
    -moz-transition: all 4000ms ease-in-out;
    -o-transition: all 4000ms ease-in-out;
    -ms-transition: all 4000ms ease-in-out;
}

.dPSTopInitial {
    position: absolute;
    left: 138px;
    bottom: 10px;
    width: 124px;
    height: 220px;
    z-index: 100;
    border-radius: 25px;
    opacity: 0.95;
    box-shadow: 3px 3px 10px #888888;
}

.dPSLeft {
    position: absolute;
    left: 20px;
    bottom: 120px;
    width: 90px;
    height: 160px;
    z-index: 90;
    border-radius: 15px;
    opacity: 0.8;
    box-shadow: 1px 1px 15px #888888;
    transition: all 4000ms ease-in-out;
    -webkit-transition: all 4000ms ease-in-out;
    -moz-transition: all 4000ms ease-in-out;
    -o-transition: all 4000ms ease-in-out;
    -ms-transition: all 4000ms ease-in-out;
}

.dPSLeftInitial {
    position: absolute;
    left: 20px;
    bottom: 120px;
    width: 90px;
    height: 160px;
    z-index: 90;
    border-radius: 15px;
    opacity: 0.8;
    box-shadow: 1px 1px 15px #888888;
}

.dPSBackLeft {
    position: absolute;
    left: 100px;
    bottom: 200px;
    width: 90px;
    height: 160px;
    z-index: 80;
    border-radius: 15px;
    opacity: 0.3;
    box-shadow: 1px 1px 15px #888888;
    transition: all 4000ms ease-in-out;
    -webkit-transition: all 4000ms ease-in-out;
    -moz-transition: all 4000ms ease-in-out;
    -o-transition: all 4000ms ease-in-out;
    -ms-transition: all 4000ms ease-in-out;
}

.dPSBackLeftInitial {
    position: absolute;
    left: 100px;
    bottom: 200px;
    width: 90px;
    height: 160px;
    z-index: 80;
    border-radius: 15px;
    opacity: 0.3;
    box-shadow: 1px 1px 15px #888888;
}

.dPSBackRight {
    position: absolute;
    left: 210px;
    bottom: 200px;
    width: 90px;
    height: 160px;
    z-index: 80;
    border-radius: 15px;
    opacity: 0.3;
    box-shadow: 1px 1px 15px #888888;
    transition: all 4000ms ease-in-out;
    -webkit-transition: all 4000ms ease-in-out;
    -moz-transition: all 4000ms ease-in-out;
    -o-transition: all 4000ms ease-in-out;
    -ms-transition: all 4000ms ease-in-out;
}

.dPSBackRightinitial {
    position: absolute;
    left: 210px;
    bottom: 200px;
    width: 90px;
    height: 160px;
    z-index: 80;
    border-radius: 15px;
    opacity: 0.3;
    box-shadow: 1px 1px 15px #888888;
}

.dPSRight {
    position: absolute;
    left: 290px;
    bottom: 120px;
    width: 90px;
    height: 160px;
    z-index: 90;
    border-radius: 15px;
    opacity: 0.8;
    box-shadow: 1px 1px 15px #888888;
    transition: all 4000ms ease-in-out;
    -webkit-transition: all 4000ms ease-in-out;
    -moz-transition: all 4000ms ease-in-out;
    -o-transition: all 4000ms ease-in-out;
    -ms-transition: all 4000ms ease-in-out;
}

.dPSRightInitial {
    position: absolute;
    left: 290px;
    bottom: 120px;
    width: 90px;
    height: 160px;
    z-index: 90;
    border-radius: 15px;
    opacity: 0.8;
    box-shadow: 1px 1px 15px #888888;
}
